<h2>Registrar Usuario</h2>

<% if false %>
    <div class="form-group col-sm-4"><%= f.label :email %>
    <%= f.email_field :email, autofocus: true, :class => "form-control input-sm" %></div>

    <div class="form-group col-sm-4"><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
      <%= f.password_field :password, autocomplete: "off", :class => "form-control input-sm" %></div>

    <div class="form-group col-sm-4"><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control input-sm" %></div>

    <div class="form-group col-sm-4"><%= f.submit "Registrar", :class => "btn btn-primary"  %> <%= render "devise/shared/links" %></div>
<%end%>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="row">
    <div  class="form-group col-sm-4">
      <%= f.input :nombre, :autofocus => true, :label => "Nombre de Usuario" %>
    </div>
  </div>
  <div class="row">
		<div  class="form-group col-sm-4">
			<%= f.input :email %>
		</div>
    <div  class="form-group col-sm-4">
      <%= f.input :password, :label => "Contraseña" %>
    </div>		
 	</div>
  <div class="row">
    <div class="form-group col-sm-6">
      <% if devise_mapping.rememberable? -%>
        <%= f.label "Recordar Contraseña " %><%= f.check_box :remember_me %>
      <% end -%>      
    </div>
    <div class="form-group col-sm-6">
      <%= f.submit "Registrar", :class => "btn btn-primary" %>
      <%= render "devise/shared/links" %>
    </div>  
  </div>
<% end %>