<h2>Iniciar Sesion</h2>

<%if false %>
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %> 

	  <div><%= f.label :email %><br />%>
	  <%= f.email_field :email, autofocus: true %></div>

	  <div><%= f.label :password %><br />
	    <%= f.password_field :password, autocomplete: "off" %></div>

	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  <% end -%>

	  <div><%= f.submit "Log in" %></div>
	<% end %>
<% end %>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	<div class="row">
		<div  class="form-group col-sm-4">
  			<%= f.input :email, autofocus: true, :label => "Correo" %>
  		</div>
  		<div  class="form-group col-sm-4">
  			<%= f.input :password, :label => "Contraseña"%>
  		</div>
 	</div>
  	<% if devise_mapping.rememberable? -%>
	    <div  class="form-group col-sm-4"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  	<% end -%>
  	<%= f.submit "Registrar", :class => "btn btn-primary" %>
<% end %>