
<div class="jumbotron">
<h1>Bienvenidos</h1>

<%= link_to "Enlace a Inicio", "", :controller => :sitio, :action => :inicio, :method => :get, :class => "btn btn-primary btn-xs" %>
<%= link_to "Enlace a oja.la", "https://oja.la", :class => "btn btn-primary btn-xs" %>
<%= link_to "Registrate", new_usuario_registration_path, :class => "btn btn-primary btn-lg" %>
</div>
