$grayLight: #a8a8a8
$gray: #7e7e7e
$baseFontFamily: Oxygen
$btn-primary-color: yellow
$btn-primary-bg: black
@import url(http://fonts.googleapis.com/css?family=Oxygen)
@import "bootstrap-sprockets"
@import "bootstrap"
// it's always responsive

body	
	padding-top: 70px
.footer
	margin-top: 50px
	color: $grayLight
	a
		color: $gray