<!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Inicio", root_path %></li>
            <li><%= link_to "Acerca", acerca_path %></li>
            
          </ul>
          <ul class="nav navbar-nav pull-right">
            <% if usuario_signed_in? %>
              <li><%= link_to "Cerrar Sesion",  destroy_usuario_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Iniciar Sesion",  new_usuario_session_path %></li>    
            <% end %>        
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>